<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопросы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="bg-light py-3 border-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="h4 mb-0 text-decoration-none">Спроси 509</a>
            <img src="../static/img/logo.png" width="50" height="50">
            <form class="d-flex w-50">
                <input type="text" class="form-control me-2" placeholder="Поиск по вопросам">
                <button class="btn btn-outline-primary" type="submit">Поиск</button>
            </form>
              <div class="d-flex align-items-center ms-3">
                <img src="../static/img/ava1.png" alt="Аватар" class="rounded-circle" width="60" height="60">
                <div class="ms-2">
                    <div class="d-flex flex-column align-items-start">
                        <span class="text-dark">Филипп Садков</span>
                        <div>
                            <a href="/settings" class="btn btn-outline-secondary btn-sm">Настройки</a>
                            <a href="/logout" class="btn btn-outline-danger btn-sm ms-2">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main class="container mt-4 d-flex">
        <div class="w-75">
            <div class="d-flex justify-content-between mb-3">
                <h2>Новые вопросы</h2>
                <a href="/ask" class="btn btn-success">Задать вопрос</a>
            </div>
            <div class="mb-3">
                <label for="sort" class="form-label">Сортировка:</label>
                <select id="sort" class="form-select w-auto d-inline-block">
                    <option value="date">По дате</option>
                    <option value="rating">По рейтингу</option>
                </select>
            </div>
            <div class="list-group">
                 <!-- список вопросов-->
            </div>
            <nav aria-label="Page navigation" class="mt-4">
            <!-- навигация-->
            </nav>
        </div>
        <aside class="w-25 ms-4">
            <div class="card mb-3">
                <div class="card-header">Популярные тэги</div>
                <div class="card-body">
                    <!-- топ тэги-->
                </div>
            </div>
            <div class="card">
                <div class="card-header">Лучшие пользователи</div>
                <div class="card-body">
                    <!-- топ пользователи-->
                </div>
            </div>

        </aside>
    </main>
    
    <footer class="bg-light py-3 mt-4 border-top">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Вопросы и ответы. Все права защищены.</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
